#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.GridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* trzy kolumny o równej szerokości */
  grid-gap: 10px;
  /* opcjonalny odstęp między elementami */
}

.GridItem {
  background-color: #4CAF50;
  /* Kolor tła kafelka */
  color: white;
  /* Kolor tekstu */
  border-radius: 10px;
  /* Zaokrąglone rogi */
  padding: 20px;
  /* Wewnętrzny odstęp */
  text-align: center;
  /* Wyśrodkowanie tekstu */
  font-size: 20px;
  /* Rozmiar czcionki */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* Cień kafelka */
}

.GridItem:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* Cień kafelka */  
  transition: 0.3s;
  /* Czas trwania efektu */
  cursor: pointer;
  /* Kursor podglądu */
  background-color: #3e8e41;
  /* Kolor tła kafelka po najechaniu */
  color: white;
  /* Kolor tekstu po najechaniu */
  border-radius: 10px;
  /* Zaokrąglone rogi po najechaniu */
  
}

.GridItem:hover .child {
  transform: rotate(25deg) scale(1.2); /* Obrót o 25 stopni podczas hoveru */
  transition: 0.3s;

}
